header{
    color: white;
    display: flex;
    justify-content: space-around;
}
header.img{
    max-width: 50%;
    max-height: 50%;
}
h2{
      font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
